.cart__section {
  .cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $x-0-25;
    border-bottom: 1px solid $gray;
    margin-bottom: $x-1;

    .cart__title {
      color: $dark-alt;
      @include h2-font;
      font-weight: $semi-bold;
    }
    .cart__backLink {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      color: $dark-alt;
      cursor: pointer;
      @include smaller-font;
      font-weight: $bold;
      .MuiSvgIcon-root {
        @include h3-font;
      }
      &:hover {
        color: $primary;
      }
    }
  }

  .cart__loading {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .makeOrderCart__content {
    display: grid;
    gap: 2rem;

    @include breakpoint(lg) {
      grid-template-columns: 1fr 0.5fr;
    }

    // .cart__item {
    // }
    // .cart__checkout {
    // }
  }
}
