.pos__section {
  @include body-margin(minus);
  height: 100vh;

  .pos__header {
    background-color: $primary;
    padding: $x-0-75 0;
    .container {
      display: flex;
      justify-content: space-between;
    }
    .header__title {
      color: $white-alt;
      font-weight: $semi-bold;
    }

    .header__group {
      display: flex;
      gap: 0.5rem;
      .header__btn {
        .MuiButton-root {
          background-color: $white-alt;
          color: $dark-alt;
          font-weight: $semi-bold;
          text-transform: capitalize;
        }
      }
    }
  }

  .pos__container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 1.5rem;
    padding: $x-0-25 0;
    padding-top: $x-1;

    .pos__queryProducts {
      .form__search {
        border: 1px solid $primary;
        border-radius: 25px;
        padding: 0.3rem;
        padding-left: $x-1;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        margin-bottom: $x-0-75;
        .search__control {
          // height: 2.5rem;
          font-family: $poppins;
          color: $dark;
          font-weight: $medium;
          width: 100%;
          @include small-font;
          background-color: transparent;
        }
      }

      .form__group {
        .form__control {
          border-radius: 25px;
          height: 2.7rem;
          background-color: $white;
        }
      }

      .btn__group {
        display: flex;
        gap: 1rem;
        .tax__btn {
          .MuiButton-root {
            width: 10rem;
            border-radius: 25px;
          }
        }
      }

      // .posBillings__btn {
      //   margin-top: $x-1;
      //   .btn {
      //     .MuiButton-root {
      //       background-color: $primary;
      //       width: 100%;
      //       border-radius: 25px;
      //       height: 3.2rem;
      //     }
      //   }
      // }

      .pos__tables {
        margin-top: $x-0-75;
      }
    }
  }
}
